@{
    ViewData["Title"] = "contact me";
}

<div class="card-container">
    <div class="collapsible">
        <div class="contact-card">
            <i class="fa-solid fa-envelope"></i>
            <span class="contact">
                <a href="mailto:annassilva04@gmail.com">annassilva04@gmail.com</a>
            </span>
        </div>
    </div>
</div>
<div class="card-container">
    <div class="collapsible">
        <div class="contact-card">
            <i class="fa-solid fa-phone"></i>
            <span class="contact">
                <a href="tel:+5511995714334">+55 (11) 99571-4334</a>
            </span>
        </div>
    </div>
</div>
