@{
    ViewData["Title"] = "about me";
}

<div class="abt-container">
    <div class="text-container">
        <div class="float-end">
            <img class="text-image" src="images/self.jpg" />
        </div>
        Growing up, I would obsess over every cartoon, game, or any animation at sight in an attempt to understand how and why they work the way they do and try my best to recreate them. The thought of "How would I design this?"
        soon entered my life. Along with that, the frustration of not exactly knowing I could do that for my career.  I love all the jobs I have had, and believe they made a major impact on my personality and how I interact with
        people, however, currently, I am working to grow my Design skills and follow what I am really passionate about. A missing spark I took long to find — but did.  You will find me observing how things are made, obsessing
        over changing details, and analyzing the motive behind any design.
    </div>
    <hr />
    <div class="text-center contact">
        <a href="https://www.linkedin.com/in/anna-silva-9942451b5"><i class="fa-brands fa-linkedin"></i></a>
    </div>
</div>
