@{
    ViewData["Title"] = "projects";
}

<div class="card-container">
    <button type="button" class="collapsible button" name="personal-projects">
        <div class="button-text-container">
            — personal projects <i class="fa-regular fa-star"></i>
            <div class="align-end">
                <i class="fa-solid fa-plus"></i>
            </div>
        </div>
    </button>
    <div class="card-content" name="personal-projects">
        aebfyug8avhgyufvhasdyufvghbaeyugfbvyuaegbfdhivsbgeuyfgbvauy
    </div>
</div>
<div class="card-container">
    <button type="button" class="collapsible button" name="courses">
        <div class="button-text-container">
            — courses <i class="fa-regular fa-star"></i>
            <div class="align-end">
                <i class="fa-solid fa-plus"></i>
            </div>
        </div>
    </button>
    <div class="card-content" name="courses">
        aebfyug8avhgyufvhasdyufvghbaeyugfbvyuaegbfdhivsbgeuyfgbvauy
    </div>
</div>

<script src="~/js/Views/Home/Projects.js" asp-append-version="true"></script>
